button {
    background-color: aqua;
    font-size: 14px;
    width: 13vw;
    height: 18vh;
    min-width: 135px;
    min-height: 42.5px;
    max-width: 295px;
    max-height: 175px;
}
button.create {
    background-color: blue;
}
button.read {
    background-color: blueviolet;
}
button.update {
    background-color: brown;
}
button.delete {
    background-color: cadetblue;
}
div.ass {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (max-height: 700px){
    button {
        height: 17vh
    }
    div.ass {
        gap : 30px
    }
}

@media (max-height: 500px) {
    button {
        height: 13vh;
    }
    div.ass {
        gap : 20px
    }
}
