button {
    background-color: #666666;
    width: 13vw;
    height: 18vh;
    min-width: 135px;
    min-height: 42.5px;
    max-width: 295px;
    max-height: 175px;
    font-size: clamp(0.9rem, 2vw, 2.9rem);
    color: #ff9100;
    border-radius: 2vw;
    white-space: pre-wrap;
}
@media (max-height: 700px){
    button {
        height: 17vh
    }
}

@media (max-height: 500px) {
    button {
        height: 13vh;
    }
}
.selected {
    background-color: #ff9100;
    font-weight: bold;
    color: black;
 }