div.container {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 96%;
}
div.container.v {
    flex-direction: column;
    border: 1px solid #ff9900c9;
}
div.container.h {
    flex-direction: row;
    border: 1px solid #0033ff;
}
div.container.button {
    border: 1px solid #ffffff;
    flex-direction: column;
    width: 300px;
    margin-left: 10px;
    gap: 2vh;
}
.selected{
    background-color: #cc7a00c9;
}