        /* Style for main text elements */
        p  {font-size: 320%;}
        h1 {font-size: 520%;}
        h2 {font-size: 150%;}
        body {background-color: #787878; color: white; font-family: 
            'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}