header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 60px; 
}
main {
    height: calc(100vh - 240px);
    width: calc(100vw - 200px);
    display: flex;
    justify-content: center;
    justify-self: center;
}
@media (max-height: 450px) {
    footer, header {
        display: none;
    }
}