<<<<<<< HEAD
        p  {font-size: 100%;}
=======
/* Style for main text elements */
h2 {
    font-size: calc( ( 4vw + 6vh ) / 2 );
    color: #ff9100;
}
h3 {
    font-size: calc( ( 3vw + 4vh ) / 2 );
    color: #ff9100;
}
p  {
    font-size: 100%;
}
>>>>>>> origin/main

p.error {
    font-size: 100%; 
    color: #ff0000;
}

h1 {
    font-size: 250%; 
    text-align: center;
}

h2.login-text {
    font-size: 150%; 
    text-align: center; 
    margin-top: 20px;
}

html {
    background-color: #666666; 
    color: #ff9100; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

abbr {
    text-decoration: none; 
    border-bottom: none; 
    cursor: help;
}

abbr.small {
    font-size: 80%;
}

label {
    font-size: 100%; 
    display: block;
}

a {
    color: #ff9100;
    font-weight: lighter;
}

input.id-input {
    width: 200px; 
    border: 2px solid #0052cd; 
    border-radius: 7px; 
    padding: 3px; 
    font-size: 100%;
}

<<<<<<< HEAD
        footer
        {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        header{
            height: 100px; 
            display: flex; 
            align-items: center; 
            justify-content: center; 
            position:fixed; 
            top: 0px; 
            width: 100%;
        }

        div.login-container{
            display: flex; 
            justify-content: center; 
            align-items: center; 
            gap: 20px;
        }

        
        .form {
            text-align: left;
            display: inline-block;
        }

        .form input {
            display: block;
            width: 220px;
            padding: 8px;
            margin: 5px 0 10px 0;
            border-radius: 5px;
            border: 2px solid blue;
        }

        .form button {
            padding: 8px 12px;
            cursor: pointer;
        }

        .student-list {
            list-style: none;
            padding: 0;
            margin-top: 20px;
        }

        .student-list li {
            background: #777;
            margin: 5px auto;
            padding: 10px;
            width: 300px;
            border-radius: 5px;
        }

        .student-list button {
            margin-left: 10px;
            cursor: pointer;
        }
=======
div.login-container{
display: flex; 
justify-content: center; 
align-items: center; 
gap: 20px;
}
>>>>>>> origin/main
